@{
    ViewData["Title"] = "Login";
}

<h1>Login Page</h1>
<form action="Login" method="post">
    <div class="form-group">
        <label name="Username"></label>
        <input name="userName" class="form-control" />
        <span namer="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label namer="Password"></label>
        <input name="password" type="password" class="form-control" />
        <span name="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>